.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding-top: 30px;
  background: #FFFFFF;
}

.sidebar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  gap: 10px;
  margin-bottom: 50px;
  width: 100%;
  padding: 0 20px 0 90px;
}

.logo-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.brand-name {
  color: #106111;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.5px;
  margin: 0;
}

.sidebar-btn {
  background: transparent;
  border: none;
  color: #106111;
  padding: 18px 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  transition: 0.2s ease;
}

.sidebar-btn:hover {
  opacity: 0.7;
}

.sign-out-btn {
  margin-top: auto;
  background: #106111;
  color: #FFFFFF;
  border: none;
  padding: 12px 24px;
  width: 70%;
  margin-bottom: 30px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.sign-out-btn:hover {
  background: #0d4d0e;
  opacity: 0.9;
}